{% extends 'base.html' %}
{%block title%}
Add App
{%endblock%}
{%block admin%}

<body>
    <h5>
        Add App
    </h5>
    <form method="post">
        {% csrf_token %}
        <input type="file" class="form-control" placeholder="image" id="image" name="image" />
        <input type="text" class="form-control" placeholder="category" id="category" name="category" />
        <input type="text" class="form-control" placeholder="subcategory" id="subcategory" name="subcategory" />
        <!-- {% for cat in category %} -->
        <!-- <input type="checkbox" class="form-control" placeholder="category" id="category" name="category" value="{{cat.name}}"/> -->
        <!-- {%endfor%} -->
        <!-- <input type="checkbox" class="form-control" placeholder="category" id="category" name="category" /> -->
        <input type="text" class="form-control" placeholder="points" id="points" name="points" />

        <div class="modal-footer">
            <button type="button" data-bs-dismiss="modal" class="btn btn-default" onclick="dismiss()">Cancel</button>
            <button type="submit" class="btn btn-primary" id="modalSubmit">Add App</button>
        </div>
    </form>
</body>
{%endblock%}