{% extends 'base.html' %}
{%block title%}
All Apps
{%endblock%}
{%block content%}
        {% for all in allapp %}
        <div class="card">
                <a href="{% url 'demoapp:appdetail' all.id %}"><img class="card-img-top" src="{{all.image.url}}" alt="Card image cap"></a>
                <div class="card-body">
                  <h5 class="card-title">{{all.category.name}}</h5>
                  <p class="card-text">{{all.subcategory.subname}}</p>
                  <p class="card-text">{{all.points}}</p>
                <hr>
                <a href="{% url 'demoapp:appdetail' all.id %}" style="text-align: center;"><button style="text-align: center;">Upload Screenshot</button></a>
                <hr>        
        </div>
        {%endfor%}
{%endblock%}