{% extends 'base.html' %}
{%block title%}
Apps Detail
{%endblock%}
{%block content%}
        <div class="card">
                <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Category: {{product.category.name}}</h5>
                  <p class="card-text">Subcategory: {{product.subcategory.subname}}</p>
                  <p class="card-text">Points: {{product.points}}</p>
                <hr>
                </div>
                <h6>UPLOAD MULTIPLE IMAGES NOW</h6>
                <br>
                <form enctype='multipart/form-data' action="{% url 'demoapp:upload' %}" method='POST' class="dropzone dz" id="my-dropzone" >
                    {% csrf_token %}
                    <div class="fallback">
                      <input name="file" type="file"/>
                      <!-- <input name="file" type="file" multiple /> #for multiple -->
                      
                      <!-- <p class="card-text" name="appid">{{product.points}}</p> -->
                    </div>
                    <input name="appid" value="{{product.id}}" type="hidden">
                </form>
            <br>
{%endblock%}