{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- custom css & js -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'main.js' %}" defer></script>

    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">


    <title>Demo Django| {% block title %}{% endblock title %}</title>
</head>

<body>
    <div class="container mt-3">
        {% if request.user.is_authenticated %}
        {% if request.user.is_staff %}
        <div>
            <h6 style="text-align: center;">Hello ({{request.user.fullname}})</h6>
            <br>
        </div>
        <div class="row">
            <div class="col-3 mt-3">
                <li><a href="{% url 'demoapp:home' %}"> Home</a></li>
                <li><a href="{% url 'demoapp:addapp' %}"> AddApp</a></li>
                <li><a href="{% url 'demoapp:logout' %}"> Logout</a></li>
            </div>
            <div class="col-9">
                {% block admin %}
                {% endblock admin %}
            </div>
        </div>
            {% else %}
            <div>
                <h6 style="text-align: center;">Hello {{request.user.fullname}}</h6>
                <br>
            </div>
            <div class="row">
                
                <div class="col-3 mt-3">
                    <li><a href="{% url 'demoapp:home' %}"> Home</a></li>
                    <li><a href="{% url 'demoapp:detail' %}"> My Profile ({{request.user.fullname}})</a></li>
                    <li><a href="{% url 'demoapp:allapp' %}"> All Apps</a></li>
                    <li><a href="{% url 'demoapp:mypoints' %}"> My Points</a></li>
                    <li><a href="{% url 'demoapp:workdone' %}"> Work Done</a></li>
                    <li><a href="{% url 'demoapp:logout' %}"> Logout</a></li>
                </div>
                <div class="col-md-6">
                    {% block content %}
                    {% endblock content %}
                </div>
    </div>
    {% endif %}
    {% else %}
    <li><a href="{% url 'demoapp:register' %}"> Register</a></li>
    <li><a href="{% url 'demoapp:login' %}"> Login</a></li>
        {% endif %}
        
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>