{% extends 'base.html' %}
{%block title%}
My Details
{%endblock%}
{%block content%}
        
        <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Full Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Image</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">{{details.fullname}}</th>
                    <td>{{details.address}}</td>
                    <td>{{details.email}}</td>
                    <td>{{details.phonenumber}}</td>
                    <td><img class="card-img-top" src="{{details.profilepicture.url}}" alt="Card image cap"></td>
                  </tr>
                </tbody>
              </table>
{%endblock%}