{% extends 'base.html' %}
{%block title%}
Home
{%endblock%}

{%block admin%}
<div>
  <h5>
    Hello Admin Welcome To the Home Page
  </h5>
</div>
{%endblock%}

{%block content%}
<div>
  <h5>
    Hello User Welcome To the Home Page
  </h5>
</div>
{%endblock%}