<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="w3l_banner_nav_right">
        <!-- login -->
        <div class="w3_login">
            <h3>Sign In & Sign Up</h3>
            <div class="w3_login_module">
                <div class="module form-module">
                    <div>
                    </div>
                    <div class="form">
                        <h2>Login account</h2>
                        <form action="#" method="post">
                            {% if error %}
                            <li style="color: red;">{{error}}</li>
                            {% endif %}
                            {% csrf_token %}
                            {{form.as_p}}
                            <button class="btn btn-primary">Login</button>

                        </form>
                        <p> or dont have account? <a
                                href="{% url 'demoapp:register' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">Register
                                here</a></p>
                    </div>
                    <!-- <div class="cta"><a href="">Forgot your password?</a></div> -->
                </div>
            </div>
            <script>
                $('.toggle').click(function () {
                    // Switches the Icon
                    $(this).children('i').toggleClass('fa-pencil');
                    // Switches the forms  
                    $('.form').animate({
                        height: "toggle",
                        'padding-top': 'toggle',
                        'padding-bottom': 'toggle',
                        opacity: "toggle"
                    }, "slow");
                });
            </script>
        </div>
        <!-- //login -->
    </div>
    <div class="clearfix"></div>
</body>

</html>