{% extends 'base.html' %}
{%block title%}
My Points
{%endblock%}
{%block content%}

     
    <table class="table">
        
        <thead>
          <tr>
            <th scope="col">Points</th>
          </tr>
        </thead>
        {% for p in mypoints %}
        <tbody>
          <tr>
            
            <th scope="row">{{p.point}}</th>
            
          </tr>
        </tbody>
        {%endfor%}
        <tr>
            <th scope="col">Total Points = {{total}}</th>
          </tr>
      </table>
 
{%endblock%}