<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="container">
    <div class="card-header">
        <form method="post">
                    {% csrf_token %}
                <!-- <div class="form-group">
                    <label class="control-label" for="business">Business</label>
                    <select class="form-select" aria-label="Default select example" name="business" id="business">
                      <option selected>Open this select menu</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select> -->

                    <label class="control-label" for="weight">Full Name:</label>
                    <input type="text" class="form-control" placeholder="Sukhi Sharma" name="fullname" id="fullname" required />

                    <label class="control-label" for="detail">Phone Number:</label>
                    <input type="text" class="form-control" placeholder="980000000" name="phone" id="phone"/>

                    <label class="control-label" for="value">Email</label>
                    <input type="email" class="form-control" placeholder="abc@gmail.com" id="email" name="email" required />

                    <label class="control-label" for="cod">Address:</label>
                    <input type="text" class="form-control" placeholder="Janakpur" id="address" name="address" />

                    <label class="control-label" for="deliveryto">Profile <Picture></Picture></label>
                    <input type="file" class="form-control" placeholder="image" id="profilepicture" name="profilepicture" />
                    <label class="control-label" for="livelocation">password</label>
                    <input type="password" class="form-control" placeholder="password" id="password" name="password" />
                </div>
                
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-default" onclick="dismiss()" >Cancel</button>
                <button type="submit" class="btn btn-primary" id="modalSubmit">Register</button>
            </div>
            </form>
            <p> or you already have account? <a
              href="{% url 'demoapp:login' %}">Login
              here</a></p>
    </div>
    <!-- <div class="card-body">
        <h5 class="card-title">Orders</h5>
        <div class="row">
            
        </div> -->
<!--        
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Business</th>
      <th scope="col">Weight</th>
      <th scope="col">Package Value</th>
      <th scope="col">COD</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for p in prob %}
    <tr>
      <td>{{p.business}}</td>
      <td>{{p.weight}}</td>
      <td>{{p.packagevalue}}</td>
      <td>{{p.cod}}</td>
      <td><form action="{}" method="POST">
                    {% csrf_token %}
                 <input type="submit" name="Delete" value="Delete" class="btn btn-danger">   
                
              </form></td>
    </tr>
    {% endfor %}
  </tbody>
</table> -->


    </div>
</div>




  <Script>
      var labels={"In progress":"label-primary",Queued:"label-info",Completed:"label-success","Emails Sent":"label-success",Error:"label-danger"},campaigns=[],campaign={};function launch(){Swal.fire({title:"Are you sure?",text:"This will schedule the campaign to be launched.",type:"question",animation:!1,showCancelButton:!0,confirmButtonText:"Launch",confirmButtonColor:"#428bca",reverseButtons:!0,allowOutsideClick:!1,showLoaderOnConfirm:!0,preConfirm:function(){return new Promise(function(a,e){groups=[],$("#users").select2("data").forEach(function(e){groups.push({name:e.text})});var t=$("#send_by_date").val();""!=t&&(t=moment(t,"MMMM Do YYYY, h:mm a").utc().format()),campaign={name:$("#name").val(),template:{name:$("#template").select2("data")[0].text},url:$("#url").val(),page:{name:$("#page").select2("data")[0].text},smtp:{name:$("#profile").select2("data")[0].text},launch_date:moment($("#launch_date").val(),"MMMM Do YYYY, h:mm a").utc().format(),send_by_date:t||null,groups:groups},api.campaigns.post(campaign).success(function(e){a(),campaign=e}).error(function(e){$("#modal\\.flashes").empty().append('<div style="text-align:center" class="alert alert-danger">            <i class="fa fa-exclamation-circle"></i> '+e.responseJSON.message+"</div>"),Swal.close()})})}}).then(function(e){e.value&&Swal.fire("Campaign Scheduled!","This campaign has been scheduled for launch!","success"),$('button:contains("OK")').on("click",function(){window.location="/campaigns/"+campaign.id.toString()})})}function sendTestEmail(){var e={template:{name:$("#template").select2("data")[0].text},first_name:$("input[name=to_first_name]").val(),last_name:$("input[name=to_last_name]").val(),email:$("input[name=to_email]").val(),position:$("input[name=to_position]").val(),url:$("#url").val(),page:{name:$("#page").select2("data")[0].text},smtp:{name:$("#profile").select2("data")[0].text}};btnHtml=$("#sendTestModalSubmit").html(),$("#sendTestModalSubmit").html('<i class="fa fa-spinner fa-spin"></i> Sending'),api.send_test_email(e).success(function(e){$("#sendTestEmailModal\\.flashes").empty().append('<div style="text-align:center" class="alert alert-success">            <i class="fa fa-check-circle"></i> Email Sent!</div>'),$("#sendTestModalSubmit").html(btnHtml)}).error(function(e){$("#sendTestEmailModal\\.flashes").empty().append('<div style="text-align:center" class="alert alert-danger">            <i class="fa fa-exclamation-circle"></i> '+e.responseJSON.message+"</div>"),$("#sendTestModalSubmit").html(btnHtml)})}function dismiss(){$("#modal\\.flashes").empty(),$("#name").val(""),$("#template").val("").change(),$("#page").val("").change(),$("#url").val(""),$("#profile").val("").change(),$("#users").val("").change(),$("#modal").modal("hide")}function deleteCampaign(e){Swal.fire({title:"Are you sure?",text:"This will delete the campaign. This can't be undone!",type:"warning",animation:!1,showCancelButton:!0,confirmButtonText:"Delete "+campaigns[e].name,confirmButtonColor:"#428bca",reverseButtons:!0,allowOutsideClick:!1,preConfirm:function(){return new Promise(function(a,t){api.campaignId.delete(campaigns[e].id).success(function(e){a()}).error(function(e){t(e.responseJSON.message)})})}}).then(function(e){e.value&&Swal.fire("Campaign Deleted!","This campaign has been deleted!","success"),$('button:contains("OK")').on("click",function(){location.reload()})})}function setupOptions(){api.groups.summary().success(function(e){if(groups=e.groups,0==groups.length)return modalError("No groups found!"),!1;var a=$.map(groups,function(e){return e.text=e.name,e.title=e.num_targets+" targets",e});console.log(a),$("#users.form-control").select2({placeholder:"Select Groups",data:a})}),api.templates.get().success(function(e){if(0==e.length)return modalError("No templates found!"),!1;var a=$.map(e,function(e){return e.text=e.name,e}),t=$("#template.form-control");t.select2({placeholder:"Select a Template",data:a}),1===e.length&&(t.val(a[0].id),t.trigger("change.select2"))}),api.pages.get().success(function(e){if(0==e.length)return modalError("No pages found!"),!1;var a=$.map(e,function(e){return e.text=e.name,e}),t=$("#page.form-control");t.select2({placeholder:"Select a Landing Page",data:a}),1===e.length&&(t.val(a[0].id),t.trigger("change.select2"))}),api.SMTP.get().success(function(e){if(0==e.length)return modalError("No profiles found!"),!1;var a=$.map(e,function(e){return e.text=e.name,e}),t=$("#profile.form-control");t.select2({placeholder:"Select a Sending Profile",data:a}).select2("val",a[0]),1===e.length&&(t.val(a[0].id),t.trigger("change.select2"))})}function edit(e){setupOptions()}function copy(e){setupOptions(),api.campaignId.get(campaigns[e].id).success(function(e){$("#name").val("Copy of "+e.name),e.template.id?($("#template").val(e.template.id.toString()),$("#template").trigger("change.select2")):$("#template").select2({placeholder:e.template.name}),e.page.id?($("#page").val(e.page.id.toString()),$("#page").trigger("change.select2")):$("#page").select2({placeholder:e.page.name}),e.smtp.id?($("#profile").val(e.smtp.id.toString()),$("#profile").trigger("change.select2")):$("#profile").select2({placeholder:e.smtp.name}),$("#url").val(e.url)}).error(function(e){$("#modal\\.flashes").empty().append('<div style="text-align:center" class="alert alert-danger">            <i class="fa fa-exclamation-circle"></i> '+e.responseJSON.message+"</div>")})}$(document).ready(function(){$("#launch_date").datetimepicker({widgetPositioning:{vertical:"bottom"},showTodayButton:!0,defaultDate:moment(),format:"MMMM Do YYYY, h:mm a"}),$("#send_by_date").datetimepicker({widgetPositioning:{vertical:"bottom"},showTodayButton:!0,useCurrent:!1,format:"MMMM Do YYYY, h:mm a"}),$(".modal").on("hidden.bs.modal",function(e){$(this).removeClass("fv-modal-stack"),$("body").data("fv_open_modals",$("body").data("fv_open_modals")-1)}),$(".modal").on("shown.bs.modal",function(e){void 0===$("body").data("fv_open_modals")&&$("body").data("fv_open_modals",0),$(this).hasClass("fv-modal-stack")||($(this).addClass("fv-modal-stack"),$("body").data("fv_open_modals",$("body").data("fv_open_modals")+1),$(this).css("z-index",1040+10*$("body").data("fv_open_modals")),$(".modal-backdrop").not(".fv-modal-stack").css("z-index",1039+10*$("body").data("fv_open_modals")),$(".modal-backdrop").not("fv-modal-stack").addClass("fv-modal-stack"))}),$(document).on("hidden.bs.modal",".modal",function(){$(".modal:visible").length&&$(document.body).addClass("modal-open")}),$("#modal").on("hidden.bs.modal",function(e){dismiss()}),api.campaigns.summary().success(function(e){campaigns=e.campaigns,$("#loading").hide(),0<campaigns.length?($("#campaignTable").show(),$("#campaignTableArchive").show(),activeCampaignsTable=$("#campaignTable").DataTable({columnDefs:[{orderable:!1,targets:"no-sort"}],order:[[1,"desc"]]}),archivedCampaignsTable=$("#campaignTableArchive").DataTable({columnDefs:[{orderable:!1,targets:"no-sort"}],order:[[1,"desc"]]}),rows={active:[],archived:[]},$.each(campaigns,function(e,a){if(label=labels[a.status]||"label-default",moment(a.launch_date).isAfter(moment()))var t="Scheduled to start: "+moment(a.launch_date).format("MMMM Do YYYY, h:mm:ss a")+"<br><br>Number of recipients: "+a.stats.total;else t="Launch Date: "+moment(a.launch_date).format("MMMM Do YYYY, h:mm:ss a")+"<br><br>Number of recipients: "+a.stats.total+"<br><br>Emails opened: "+a.stats.opened+"<br><br>Emails clicked: "+a.stats.clicked+"<br><br>Submitted Credentials: "+a.stats.submitted_data+"<br><br>Errors : "+a.stats.error+"<br><br>Reported : "+a.stats.email_reported;var n=[escapeHtml(a.name),moment(a.created_date).format("MMMM Do YYYY, h:mm:ss a"),'<span class="label '+label+'" data-toggle="tooltip" data-placement="right" data-html="true" title="'+t+'">'+a.status+"</span>","<div class='pull-right'><a class='btn btn-primary' href='/campaigns/"+a.id+"' data-toggle='tooltip' data-placement='left' title='View Results'>                    <i class='fa fa-bar-chart'></i>                    </a>            <span data-toggle='modal' data-backdrop='static' data-target='#modal'><button class='btn btn-primary' data-toggle='tooltip' data-placement='left' title='Copy Campaign' onclick='copy("+e+")'>                    <i class='fa fa-copy'></i>                    </button></span>                    <button class='btn btn-danger' onclick='deleteCampaign("+e+")' data-toggle='tooltip' data-placement='left' title='Delete Campaign'>                    <i class='fa fa-trash-o'></i>                    </button></div>"];"Completed"==a.status?rows.archived.push(n):rows.active.push(n)}),activeCampaignsTable.rows.add(rows.active).draw(),archivedCampaignsTable.rows.add(rows.archived).draw(),$('[data-toggle="tooltip"]').tooltip()):$("#emptyMessage").show()}).error(function(){$("#loading").hide(),errorFlash("Error fetching campaigns")}),$.fn.select2.defaults.set("width","100%"),$.fn.select2.defaults.set("dropdownParent",$("#modal_body")),$.fn.select2.defaults.set("theme","bootstrap"),$.fn.select2.defaults.set("sorter",function(e){return e.sort(function(e,a){return e.text.toLowerCase()>a.text.toLowerCase()?1:e.text.toLowerCase()<a.text.toLowerCase()?-1:0})})});

  </Script>


  <script>
    var win = navigator.platform.indexOf("Win") > -1;
    if (win && document.querySelector("#sidenav-scrollbar")) {
      var options = {
        damping: "0.5",
      };
      Scrollbar.init(document.querySelector("#sidenav-scrollbar"), options);
    }
  </script>

