{% extends 'base.html' %}
{%block title%}
My Works
{%endblock%}
{%block content%}
        
        <table class="table">
                <thead>
                  <tr>
                    <th scope="col">App Name</th>
                    <th scope="col">App Subcategory</th>
                    <th scope="col">Points</th>
                    <th scope="col">Image</th>
                  </tr>
                </thead>
                <tbody>
                    {% for data in mypoints.all %}
                  <tr>
                    <th scope="row">{{data.app.category.name}}</th>
                    <th scope="row">{{data.app.subcategory.subname}}</th>
                    <td>{{data.point}}</td>
                    <td><img class="card-img-top" src="{{data.app.image.url}}" alt="Card image cap" style="width: 100px; height: 100px;"></td>
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
{%endblock%}